@tailwind base;
@tailwind components;
@tailwind utilities;

.disc{
   display: flex;
   flex-direction: col;
}

.main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom:5rem;
  flex-direction: column
}

.sel{
  background-color: black;
  color: grey;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  margin-top: 2rem;
}
.songcard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}


@media (min-width:640px){
  .main{
    flex-direction: row;
  }
  .sel{
    margin-top: 0;
  }
  .songcard{
    justify-content: flex-start
  }
}


/* Active Navigation Link */
.active {
  @apply text-cyan-500;
}

.active svg {
  @apply text-cyan-500;
}

.bar:nth-child(2) {
  animation-delay: 0.2s;
}
.bar:nth-child(3) {
  animation-delay: 0.4s;
}
.bar:nth-child(4) {
  animation-delay: 0.6s;
}
.bar:nth-child(5) {
  animation-delay: 0.8s;
}
.bar:nth-child(6) {
  animation-delay: 1s;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
